@import url("global.css");
main {
    width: 100%;
    margin-top: 60px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.container_student {
    width: 95%;
    background-color: #FFFFFF;
    display: flex;
}

.main_container {
    width: 100%;
    height: 600px;
    margin: 20px;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
}

.general_menu_title {
    background-color: #FFFFFF;
}

.general_menu_title h3 {
    padding: 15px;
    color: #3C9B61;
}

.tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.tab_title {
    width: 200px;
    border-right: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab_title h3 {
    padding: 15px;
    cursor: pointer;
}

.active {
    color: #393939;
}

.deactivate {
    color: #3C9B61;
}

.secondary_container {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*Student my_tutoring*/

.tutorial_container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #707070;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.tutorial_container_coumn_1 {
    width: 80%;
}

.tutorial_container_coumn_1 h3 {
    padding-bottom: 10px;
    color: #3C9B61;
}

.tutorial_container_coumn_2 {
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tutorial_container_coumn_2 h4 {
    color: #3C9B61;
}

.tutorial_container_coumn_2 h5 {
    color: #0080FA;
    font-size: 16px;
    cursor: pointer;
}